# Polarization Models

In [11]:
import pandas as pd
import numpy as np
import scipy.stats as stats

%load_ext lab_black

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

## Load Data
Zollman and Polarisation Simulations

In [12]:
zollman = pd.read_csv("data/complete_zollman.csv")
zollman["model"] = "Zollman"

In [13]:
polarization = pd.read_csv("data/complete_polarization.csv")
polarization["model"] = "Polarization"

OConnorWeatherall

In [14]:
distance = pd.read_csv("data/complete_distance.csv")

In [15]:
# Seperate these into two
distance1 = distance.query("op == 'OConnorWeatherallSquareRootDistanceOp'").copy()
distance1["model"] = "OConnorWeatherallSquareRootDistanceOp"

In [16]:
distance2 = distance.query("op == 'OConnorWeatherallSquareDistanceOp'").copy()
distance2["model"] = "OConnorWeatherallSquareDistanceOp"

### Combine and Group Data

In [8]:
df = pd.concat([zollman, polarization, distance1, distance2], ignore_index=True)

In [9]:
df = df.fillna(0)

In [10]:
# Group the data
pr = df.groupby(["size", "trials", "epsilon", "model", "mistrust", "action"]).count()

pr = (
    pr.unstack()
    .fillna(0)
    .droplevel(0, axis=1)
    .reset_index()
    .rename_axis(None, axis=1)
    .T.drop_duplicates()
    .T
)

# Calculate not B's
pr["not_B"] = pr["A"] + pr["?"]

# Convert the types columns to integers because they were output as floats
pr["A"] = pr["A"].astype(int)
pr["B"] = pr["B"].astype(int)
pr["not_B"] = pr["not_B"].astype(int)

pr

    size trials epsilon    model mistrust    ?   A    B  not_B
0      2      8   0.001  Zollman      0.0  0.0  59   41     59
1      2      8    0.01  Zollman      0.0  0.0  48   52     48
2      2      8     0.1  Zollman      0.0  0.0  37   63     37
3      2     16   0.001  Zollman      0.0  0.0  47   53     47
4      2     16    0.01  Zollman      0.0  0.0  47   53     47
..   ...    ...     ...      ...      ...  ...  ..  ...    ...
404  128   2048    0.01  Zollman      0.0  0.0   0  100      0
405  128   4096   0.001  Zollman      0.0  0.0   1   99      1
406  128   4096    0.01  Zollman      0.0  0.0   0  100      0
407  128   8192   0.001  Zollman      0.0  0.0   1   99      1
408  128   8192    0.01  Zollman      0.0  0.0   0  100      0

[409 rows x 9 columns]

In [73]:
# Create total column
pr["total"] = pr["not_B"] + pr["B"]

# Calculate percentages
pr["converged"] = (pr["B"] / pr["total"]) * 100

# Change 0 to NA for Zollman mistrust
pr.loc[pr["model"] == "Zollman", "mistrust"] = "NA"

pr

,size,trials,epsilon,model,mistrust,?,A,B,not_B,total,converged
0,2,8,0.001,Zollman,NA,0.0,59,41,59,100,41.0
1,2,8,0.01,Zollman,NA,0.0,48,52,48,100,52.0
2,2,8,0.1,Zollman,NA,0.0,37,63,37,100,63.0
3,2,16,0.001,Zollman,NA,0.0,47,53,47,100,53.0
4,2,16,0.01,Zollman,NA,0.0,47,53,47,100,53.0
...,...,...,...,...,...,...,...,...,...,...,...
404,128,2048,0.01,Zollman,NA,0.0,0,100,0,100,100.0
405,128,4096,0.001,Zollman,NA,0.0,1,99,1,100,99.0
406,128,4096,0.01,Zollman,NA,0.0,0,100,0,100,100.0
407,128,8192,0.001,Zollman,NA,0.0,1,99,1,100,99.0
408,128,8192,0.01,Zollman,NA,0.0,0,100,0,100,100.0

In [74]:
pr.to_csv("zollman_pol.csv", index=False)

## Polarization Mistrust > 1

### Chi2 Tests - Proportions

In [75]:
pr.model.unique()

array(['Zollman', 'Polarization', 'OConnorWeatherallSquareDistanceOp',
       'OConnorWeatherallSquareRootDistanceOp'], dtype=object)

In [92]:
zollman = pr[pr.model == "Zollman"]
polarization_not_0 = pr[
    (pr.model == "Polarization") & (pr.mistrust != 0.0) & (pr.mistrust != 1.0)
]

In [93]:
# Dataframe to store Chi2 results
chi2_results = pd.DataFrame()

# Group networks by network size
for size_name, size_group in polarization_not_0.groupby("size"):
    # Group by trails size
    for trials_name, trials_group in size_group.groupby("trials"):
        # Group by epsilon
        for eps_name, eps_group in trials_group.groupby("epsilon"):
            # Group by mistrust
            for mis_name, mis_group in eps_group.groupby("mistrust"):
                # Get matching data from Zollman
                test_data = zollman.query(
                    "size == @size_name &"
                    "trials == @trials_name &"
                    "epsilon == @eps_name"
                ).copy()

                if not test_data.empty:
                    try:
                        # Calculate Chi2
                        chi2, p, dof, expected = stats.chi2_contingency(
                            [
                                [mis_group["B"].iloc[0], mis_group["not_B"].iloc[0]],
                                [test_data["B"].iloc[0], test_data["not_B"].iloc[0]],
                            ]
                        )
                    except:
                        p = None
                        chi2 = None

                    _ = pd.DataFrame(
                        {
                            "size": [size_name],
                            "trials": [trials_name],
                            "epsilon": [eps_name],
                            "polarization_mistrust": [mis_name],
                            "not_B": [mis_group["not_B"].iloc[0]],
                            "B": [mis_group["B"].iloc[0]],
                            "zollman_not_B": [test_data["not_B"].iloc[0]],
                            "zollman_B": [test_data["B"].iloc[0]],
                            "chi2": [chi2],
                            "pvalue": [p],
                        }
                    )

                    # Append to results dataframe
                    chi2_results = pd.concat([chi2_results, _], ignore_index=True)

In [97]:
chi2_results.style.hide_index()

/var/folders/7v/gvwdrzdx5t5fc9hf4gxlr2w80000gn/T/ipykernel_1209/3648334759.py:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  chi2_results.style.hide_index()

### Mann Whitney - Steps

In [98]:
zollman = pd.read_csv("data/complete_zollman.csv")
zollman["model"] = "Zollman"
zollman = zollman[zollman.action == "B"]

polarization_not_0 = polarization[
    (polarization.model == "Polarization")
    & (polarization.mistrust != 0.0)
    & (polarization.mistrust != 1.0)
    & (polarization.action == "B")
]

In [99]:
# Dataframe to store results
mwu_results = pd.DataFrame()

# Group networks by network size
for size_name, size_group in polarization_not_0.groupby("size"):
    # Group by trails size
    for trials_name, trials_group in size_group.groupby("trials"):
        # Group by epsilon
        for eps_name, eps_group in trials_group.groupby("epsilon"):
            # Group by mistrust
            for mis_name, mis_group in eps_group.groupby("mistrust"):
                # Get matching data from Zollman
                test_data = zollman.query(
                    "size == @size_name &"
                    "trials == @trials_name &"
                    "epsilon == @eps_name"
                ).copy()

                if not test_data.empty:
                    # If we have steps for both the current network and a network to test against run the test
                    if len(mis_group["steps"]) > 0 and len(test_data["steps"]) > 0:
                        # Calculate Mann Whitney U Test
                        stat, pvalue = stats.mannwhitneyu(
                            mis_group["steps"], test_data["steps"]
                        )

                        _ = pd.DataFrame(
                            {
                                "size": [size_name],
                                "trials": [trials_name],
                                "epsilon": [eps_name],
                                "polarization_mistrust": [mis_name],
                                "polarization_count": [len(mis_group)],
                                "mean_steps": [np.mean(mis_group["steps"])],
                                "zollman_count": [len(test_data)],
                                "zollman_mean_steps": [np.mean(test_data["steps"])],
                                "stat": [stat],
                                "pvalue": [pvalue],
                            }
                        )

                        # Append to results dataframe
                        mwu_results = pd.concat([mwu_results, _], ignore_index=True)

In [100]:
mwu_results.style.hide_index()

/var/folders/7v/gvwdrzdx5t5fc9hf4gxlr2w80000gn/T/ipykernel_1209/3410432096.py:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  mwu_results.style.hide_index()

## Polarization Mistrust = 1, Sqr Root, Sqr Distance

### Chi2 Test - Proportions

In [82]:
pr.model.unique()

array(['Zollman', 'Polarization', 'OConnorWeatherallSquareDistanceOp',
       'OConnorWeatherallSquareRootDistanceOp'], dtype=object)

In [101]:
# Gather data
zollman = pr[pr.model == "Zollman"]

polarization_1 = pr[(pr.model == "Polarization") & (pr.mistrust == 1.0)].copy()

square = pr[pr.model == "OConnorWeatherallSquareDistanceOp"]
square = pd.concat(
    [square, pr[pr.model == "OConnorWeatherallSquareRootDistanceOp"]],
    ignore_index=True,
)

In [102]:
# Dataframe to store Chi2 results
chi2_results = pd.DataFrame()

# Group networks by network size
for size_name, size_group in polarization_1.groupby("size"):
    # Group by trails size
    for trials_name, trials_group in size_group.groupby("trials"):
        # Group by epsilon
        for eps_name, eps_group in trials_group.groupby("epsilon"):
            # Group by mistrust
            for mis_name, mis_group in eps_group.groupby("mistrust"):
                # Get matching data from Zollman
                test_data = zollman.query(
                    "size == @size_name &"
                    "trials == @trials_name &"
                    "epsilon == @eps_name"
                ).copy()

                if not test_data.empty:
                    try:
                        # Calculate Chi2
                        chi2, p, dof, expected = stats.chi2_contingency(
                            [
                                [mis_group["B"].iloc[0], mis_group["not_B"].iloc[0]],
                                [test_data["B"].iloc[0], test_data["not_B"].iloc[0]],
                            ]
                        )
                    except:
                        p = None
                        chi2 = None

                    _ = pd.DataFrame(
                        {
                            "model": ["Polarization"],
                            "size": [size_name],
                            "trials": [trials_name],
                            "epsilon": [eps_name],
                            "mistrust": [mis_name],
                            "not_B": [mis_group["not_B"].iloc[0]],
                            "B": [mis_group["B"].iloc[0]],
                            "zollman_not_B": [test_data["not_B"].iloc[0]],
                            "zollman_B": [test_data["B"].iloc[0]],
                            "chi2": [chi2],
                            "pvalue": [p],
                        }
                    )

                    # Append to results dataframe
                    chi2_results = pd.concat([chi2_results, _], ignore_index=True)

In [103]:
# Group by model
for model_name, model_group in square.groupby("model"):
    # Group networks by network size
    for size_name, size_group in model_group.groupby("size"):
        # Group by trails size
        for trials_name, trials_group in size_group.groupby("trials"):
            # Group by epsilon
            for eps_name, eps_group in trials_group.groupby("epsilon"):
                # Group by mistrust
                for mis_name, mis_group in eps_group.groupby("mistrust"):
                    # Get matching data from Zollman
                    test_data = zollman.query(
                        "size == @size_name &"
                        "trials == @trials_name &"
                        "epsilon == @eps_name"
                    ).copy()

                    if not test_data.empty:
                        try:
                            # Calculate Chi2
                            chi2, p, dof, expected = stats.chi2_contingency(
                                [
                                    [
                                        mis_group["B"].iloc[0],
                                        mis_group["not_B"].iloc[0],
                                    ],
                                    [
                                        test_data["B"].iloc[0],
                                        test_data["not_B"].iloc[0],
                                    ],
                                ]
                            )
                        except:
                            p = None
                            chi2 = None

                        _ = pd.DataFrame(
                            {
                                "model": [model_name],
                                "size": [size_name],
                                "trials": [trials_name],
                                "epsilon": [eps_name],
                                "mistrust": [mis_name],
                                "not_B": [mis_group["not_B"].iloc[0]],
                                "B": [mis_group["B"].iloc[0]],
                                "zollman_not_B": [test_data["not_B"].iloc[0]],
                                "zollman_B": [test_data["B"].iloc[0]],
                                "chi2": [chi2],
                                "pvalue": [p],
                            }
                        )

                        # Append to results dataframe
                        chi2_results = pd.concat([chi2_results, _], ignore_index=True)

In [104]:
chi2_results.style.hide_index()

/var/folders/7v/gvwdrzdx5t5fc9hf4gxlr2w80000gn/T/ipykernel_1209/3648334759.py:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  chi2_results.style.hide_index()

### Mann-Whitney Test - Steps

In [110]:
zollman = pd.read_csv("data/complete_zollman.csv")
zollman["model"] = "Zollman"
zollman = zollman[zollman.action == "B"]

polarization_1 = polarization[
    (polarization.model == "Polarization")
    & (polarization.mistrust == 1.0)
    & (polarization.action == "B")
]

square = pd.concat(
    [distance1[distance1.action == "B"], distance2[distance2.action == "B"]],
    ignore_index=True,
)

In [111]:
# Dataframe to store Chi2 results
mwu_results = pd.DataFrame()

# Group networks by network size
for size_name, size_group in polarization_1.groupby("size"):
    # Group by trails size
    for trials_name, trials_group in size_group.groupby("trials"):
        # Group by epsilon
        for eps_name, eps_group in trials_group.groupby("epsilon"):
            # Group by mistrust
            for mis_name, mis_group in eps_group.groupby("mistrust"):
                # Get matching data from Zollman
                test_data = zollman.query(
                    "size == @size_name &"
                    "trials == @trials_name &"
                    "epsilon == @eps_name"
                ).copy()

                if not test_data.empty:
                    # If we have steps for both the current network and a network to test against run the test
                    if len(mis_group["steps"]) > 0 and len(test_data["steps"]) > 0:
                        # Calculate Mann Whitney U Test
                        stat, pvalue = stats.mannwhitneyu(
                            mis_group["steps"], test_data["steps"]
                        )

                        _ = pd.DataFrame(
                            {
                                "model": ["Polarization"],
                                "size": [size_name],
                                "trials": [trials_name],
                                "epsilon": [eps_name],
                                "polarization_mistrust": [mis_name],
                                "polarization_count": [len(mis_group)],
                                "mean_steps": [np.mean(mis_group["steps"])],
                                "zollman_count": [len(test_data)],
                                "zollman_mean_steps": [np.mean(test_data["steps"])],
                                "stat": [stat],
                                "pvalue": [pvalue],
                            }
                        )

                        # Append to results dataframe
                        mwu_results = pd.concat([mwu_results, _], ignore_index=True)

In [112]:
# Group by model
for model_name, model_group in square.groupby("model"):
    # Group networks by network size
    for size_name, size_group in model_group.groupby("size"):
        # Group by trails size
        for trials_name, trials_group in size_group.groupby("trials"):
            # Group by epsilon
            for eps_name, eps_group in trials_group.groupby("epsilon"):
                # Group by mistrust
                for mis_name, mis_group in eps_group.groupby("mistrust"):
                    # Get matching data from Zollman
                    test_data = zollman.query(
                        "size == @size_name &"
                        "trials == @trials_name &"
                        "epsilon == @eps_name"
                    ).copy()

                    if not test_data.empty:
                        # If we have steps for both the current network and a network to test against run the test
                        if len(mis_group["steps"]) > 0 and len(test_data["steps"]) > 0:
                            # Calculate Mann Whitney U Test
                            stat, pvalue = stats.mannwhitneyu(
                                mis_group["steps"], test_data["steps"]
                            )

                            _ = pd.DataFrame(
                                {
                                    "model": [model_name],
                                    "size": [size_name],
                                    "trials": [trials_name],
                                    "epsilon": [eps_name],
                                    "polarization_mistrust": [mis_name],
                                    "polarization_count": [len(mis_group)],
                                    "mean_steps": [np.mean(mis_group["steps"])],
                                    "zollman_count": [len(test_data)],
                                    "zollman_mean_steps": [np.mean(test_data["steps"])],
                                    "stat": [stat],
                                    "pvalue": [pvalue],
                                }
                            )

                            # Append to results dataframe
                            mwu_results = pd.concat([mwu_results, _], ignore_index=True)

In [115]:
mwu_results.style.hide_index()

/var/folders/7v/gvwdrzdx5t5fc9hf4gxlr2w80000gn/T/ipykernel_1209/3410432096.py:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  mwu_results.style.hide_index()